.overlay {
    position: fixed; /* 固定在屏幕上 */

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* 确保在其他内容之上 */
    color: white;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.closeButton {
    margin-top: 10px;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    left: 50%;
    right: 50%;
}
